/* Calender.module.css */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Day View Container */
.dayViewContainer {
    border: 2px solid black; 
    border-radius: 0.2rem;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%; 
    height: 100%; 
}

/* Hour Row */
.dayHourRow {
    font-family: 'Jacques Francois', monospace;
    border-bottom: 1px solid black; 
    display: flex;
    align-items: center;
    justify-content: left; 
    padding: 0.5rem;
    font-size: 1rem; 
    height: auto; 
    color: black; 
    background-color: #eee9e6; 
}

/* Remove the border from the last row */
.dayHourRow:last-child {
    border-bottom: none;
}

/* Week View Container */
.weekViewContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: auto 1fr; 
    width: 100%; 
    height: 100%; 
    border: 2px solid black; 
    border-radius: 0.2rem; 
    background-color: #eee9e6;
}

/* Week Header Cells */
.weekDayHeader {
    font-family: 'Jacques Francois', monospace;
    border-bottom: 1.5px solid black; 
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1rem;
}

/* Week Day Cells */
.weekDayCell {
    
    border-right: 1.5px solid black; 
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    background-color: #eee9e6;
}

/* Remove right border from the last column */
.weekDayCell:last-child,
.weekDayHeader:last-child {
    border-right: none;
}

/* Month View Container */
.monthViewContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-auto-rows: 1fr; 
    gap: 0; 
    width: 100%; 
    height: 100%; 
    border: 2.5px solid black; 
    border-radius: 0rem;
    background-color: #eee9e6;
}

/* Header Cell (Day Names) */
.monthDayHeader {
    font-family: 'Jacques Francois', monospace;
    border-bottom: 1.5px solid black; 
    text-align: center;
    font-weight: bold;
    padding: 0.7rem;
    font-size: 1rem;
    background-color: #eee9e6;
    color: black;
}

/* Day Cell (Dates) */
.monthDayCell {
    font-family: 'Jacques Francois', monospace;
    border: 1.5px solid black; 
    text-align: center;
    font-size: 0.9rem;
    background-color: #eee9e6;
    color: black;
}

/* Empty cells (before the first day of the month) */
.emptyCell {
    border: 1.5px solid black; 
    background-color: #eee9e6;
}


/* Header Container */
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #e9e5e3; 
    border-radius: 0.5rem;
}

/* Header Button */
.headerButton {
    font-size: 2rem; 
    padding: 0.5rem;
    color: black;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.headerButton:hover {
    color: white; 
}

/* Header Title Container */
.headerTitleContainer {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

/* Header Title */
.headerTitle {
    font-family: 'Jacques Francois', monospace;
    font-size: 1.25rem; 
    font-weight: bold;
    color: black;
}

/* Button Container */
.buttonContainer {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #7C9B70; 
    padding: 0.5rem 1rem; 
    border-radius: 1rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

/* Shared button styles */
.calendarButton {
    font-family: 'Jacques Francois', monospace;
    padding: 0.5rem 1.5rem; 
    background-color: #eee9e6; 
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.5rem; 
    border: 1px solid #ccc; 
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

/* Hover effect */
.calendarButton:hover {
    background-color: #e0e0e0; 
}

/* Active button styles */
.calendarButtonActive {
    background-color: #7C9B70; 
    color: white;
    border: 1px solid #5c7b55;
}
