@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.loginCardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url('/images/DMC-Cafe.gif');
    background-size: cover;
    background-position: 10% center;
    background-repeat: no-repeat;
}

.loginCard {
    width: 400px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff;
}

.loginMessage {
    font-family: 'Jacques Francois', monospace;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333333;
}

.loginButton {
    font-family: 'Jacques Francois', monospace;
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: #9B7959;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: #9B7959;
}
