@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* src/components/ProfileCard.module.css */
.profileCard {
  background-color: #9B7959;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 600px;
  margin: 100px;
}

.profileImage {
  width: 300px;
  height: 300px;
  background-color: #7C9B70;
  border-radius: 50%;
  margin: 0 auto 30px auto;
}

.button {
  font-family: 'Jacques Francois', monospace;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  color: #000000;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #e0e0e0;
}
