.homePage {
    display: flex;
    min-height: 100vh;
    background-color: #B2C1AC;
}

.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #725B45;
    padding: 20px 0;
    width: 10%;
    position: relative; /* Allows the logout button to stick to the bottom */
    height: 100vh; /* Full height for the nav bar */
}

.navButton {
    background: none;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

.logoutButton {
    margin-top: auto; /* Pushes the button to the bottom */
    margin-bottom: 20px; /* Adds space at the bottom */
}

.navIcon {
    width: 60px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.homeButton {
    position: absolute;
    top: 20px; 
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.homeIcon {
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.headerMessage, .mainDescription {
    background-color: #9B7959;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
}

.characterIcons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.characterIcon {
    width: 300px;
}

.loginButton {
    background-color: white;
    color: #000000;
    padding: 10px 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}